{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} INIADランチマップ {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% block css %}  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% block js %}  {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
